<div class="login" fxLayout fxLayoutAlign='center center'>
  <mat-card class="card">
    <div class="text">
      find your Account
    </div>
    <div [formGroup]="loginForm" fxLayout='row wrap'>
      <mat-form-field fxFlex=100 appearance="outline">
        <mat-label>email</mat-label>
        <input formControlName='email' matInput placeholder="Placeholder">
        <mat-error fxFlex *ngIf="!loginForm.controls['email'].valid && loginForm.controls['email'].touched">
          {{ getErrorMessage(loginForm.controls['email'], 'email') }} </mat-error>
      </mat-form-field>


    </div>
    <div fxLayout fxLayoutAlign='space-between center'>
      <button routerLink='../register' class="create-link" mat-button>Create account</button>
      <button disabled={{disabled}} class="button-click" (click)="forgot()" mat-flat-button>Forgot</button>

    </div>
  </mat-card>

</div>